GEMINI_API_KEY="AQ.Ab8RN6LbIxqC-R-Z5DSnUAsyZm-ltGF9BDSE7VlMmK89ctR9dQ"

VITE_SUPABASE_URL="https://szethvcqwbikwzfufapc.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh6amh3aWZtdGl4ZnJ0b2Fud2lwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIwOTM3NTYsImV4cCI6MjA5NzY2OTc1Nn0.W7Aysc7_YrMons2VBdfc7JaaF3-JHn-ypYMWD--0lGQ"
