GEMINI_API_KEY="AQ.Ab8RN6LbIxqC-R-Z5DSnUAsyZm-ltGF9BDSE7VlMmK89ctR9dQ"

VITE_SUPABASE_URL="https://szethvcqwbikwzfufapc.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN6ZXRodmNxd2Jpa3d6ZnVmYXBjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE5MzI0ODIsImV4cCI6MjA5NzUwODQ4Mn0.P1SZlTm6Ltezn-8XaBog4YfIpsLCWo23SMBxXzrPLBE"